[Unit]
Description=RSS Service Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/rsswitchd
Type=simple
Nice=-20

[Install]
WantedBy=multi-user.target
